{% extends 'base.html.twig' %}

{% block body %}
    <h1>Inscription</h1>

    {{ form_start(registerForm) }}
        
    {{ form_end(registerForm) }}

    </br>

    <a href="{{path('app_login')}}">Vous avez déja un compte ? Connectez vous</a>

{% endblock %}


